body
{
	background-color: #950606; /*indique la couleur de fond de la page web*/
}

p, h1, h2
{
	font-family: Lato; /*Cette police de caractère sera appliquée aux trois balises*/
}


p
{
	font-size: x-large; /*Indique la taille des caractères dans les paragraphes*/
	text-align: justify;/*Indique le type d'alignement du texte dans les paragraphes*/
}

h1
{
	font-size: xxx-large;
	color: White;
}

h2
{
	font-size: xx-large;
	color: grey;
}